.bg {
    position: fixed;
    top: -10px;
    left: -10px;
    z-index: -1;
    display: block;
    background: url(bg.jpg);
    background-size: cover;
    width: 110%;
    height: 110%;
    -webkit-filter: blur(9px);
    -moz-filter: blur(9px);
    -o-filter: blur(9px);
    -ms-filter: blur(9px);
    filter: blur(9px);
}
.header {
    vertical-align: top;
    display: block;
    text-align: center;
    horizontal-align: center;
    width: 25%;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    background: white;
}

