.bg {
    position: fixed;
    top: -10px;
    left: -10px;
    z-index: -1;
    display: block;
    background: url(bg.jpg);
    background-size: cover;
    width: 110%;
    height: 110%;
    -webkit-filter: blur(9px);
    -moz-filter: blur(9px);
    -o-filter: blur(9px);
    -ms-filter: blur(9px);
    filter: blur(9px);
}
.header {
    vertical-align: top;
    display: block;
    text-align: center;
    horizontal-align: center;
    width: 25%;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    background: white;
}
.container {
    display: block;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
}
.inlinecanvas {
    padding-bottom: 15px;
    text-align: center;
    vertical-align: top;
    background-color: #FFF;
    display: inline-block;
    width: 83%;
    height: 24%;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}
